a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: $ff-primary;
  line-height: 1;
  color: $clr-heading;
  font-size: 1.4rem;
}

input,
button {
  font-family: $ff-primary;
  line-height: 1;
  outline: none;
}

button {
  cursor: pointer;
}
