$clr-primary: #e88282;
$clr-secondary-yellow: #efd88a;
$clr-secondary-turquoise: #95e1d3;

$clr-accent-grey-100: #f5f5f5;
$clr-accent-grey-200: #999999;
$clr-accent-grey-300: #cccccc;

$clr-heading: #333333;
$clr-body: #999999;

$ff-primary: "Montserrat", sans-serif;
$ff-subtitle: "Kaushan Script", cursive;
$ff-body: "Roboto", sans-serif;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$fs-100: 1.4rem;
$fs-200: 1.6rem;
$fs-300: 2rem;
$fs-400: 2.4rem;
$fs-500: 3.2rem;
$fs-600: 7.2rem;
$fs-700: 14rem;

$wrapper: 1920px;
$container: 1200px;
