footer.footer 
	.container 
		.footer__top
			.footer__column
				h3.footer__heading.footer__heading--logo Mogo 
				p.footer__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illo quas officia molestias, commodi obcaecati rem harum est laudantium ipsam reprehenderit, veritatis quae nulla voluptatibus! Nisi, iusto. Facere, fugiat dignissimos!
				.footer__follower <strong>15k</strong> followers 
				.footer__social
					span.footer__follow Follow us
					.footer__list
						i.footer__icon.fa-brands.fa-facebook
						i.footer__icon.fa-brands.fa-facebook
						i.footer__icon.fa-brands.fa-facebook
						i.footer__icon.fa-brands.fa-facebook
						i.footer__icon.fa-brands.fa-facebook
						i.footer__icon.fa-brands.fa-facebook
						i.footer__icon.fa-brands.fa-facebook
						i.footer__icon.fa-brands.fa-facebook
				form.footer__form
					input(type="email" placeholder="Your Email").footer__form-input
					button.footer__form-button Subscribe
			.footer__column
				h3.footer__heading Blogs
				.footer__blog
					img.footer__blog-image(src="https://images.unsplash.com/photo-1661956602868-6ae368943878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
					.footer__blog-info 
						h4.footer__blog-heading Lorem ipsum dolor sit amet consectetur adipisicing
						span.footer__blog-date Jan 9, 2019
				.footer__blog
					img.footer__blog-image(src="https://images.unsplash.com/photo-1621570168205-c93ccd501004?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80")
					.footer__blog-info 
						h4.footer__blog-heading Lorem ipsum dolor sit amet consectetur adipisicing
						span.footer__blog-date Jan 9, 2019
				.footer__blog
					img.footer__blog-image(src="https://images.unsplash.com/photo-1621570277374-2e43db60c464?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80")
					.footer__blog-info 
						h4.footer__blog-heading Lorem ipsum dolor sit amet consectetur adipisicing
						span.footer__blog-date Jan 9, 2019
			.footer__column
				h3.footer__heading Instagram
				.footer__gallery 
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1549399905-5d1bad747576?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1070&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1661956602139-ec64991b8b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=730&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1661961112134-fbce0fdf3d99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1661956602153-23384936a1d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1588476376802-9e96f9d967f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1564766980795-9387d16f5dd9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1853&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1565443492615-7e3d2324d925?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
					.footer__gallery-image-wrapper
						img.footer__gallery-image(src="https://images.unsplash.com/photo-1542345307-d87fd97e0ed5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
				span.footer__more View more photos
		.footer__bottom &copy; 2023 Mogo website template by <span> Brian Pham </span>