section.quote 
  .container 
    .quote__container 
      i.fa.fa-angle-left.quote__arrow-left
      .quote__content 
        .quote__icon
          img(src="https://plus.unsplash.com/premium_photo-1673549599522-12df44624fbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60")
        .quote__info 
          p.quote__desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat alias velit quaerat in maiores consequuntur repudiandae, quia distinctio libero perspiciatis quidem magnam recusandae sint quibusdam itaque facere asperiores ea ad?
          span.quote__author John Doe
      i.fa.fa-angle-right.quote__arrow-right