section.service 
  .container  
    +blogBox("We work with", "Amazing service")
    .service__list
      .service__row
        +serviceItem("fa fa-cog","Photography Lorem ipsum dolor sitLorem ipsum dolor sit", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
        +serviceItem("fa fa-cog","Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
        +serviceItem("fa fa-cog","Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
      .service__row
        +serviceItem("fa fa-cog","Seo", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
        +serviceItem("fa fa-cog","Css/Html", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
        +serviceItem("fa fa-cog","Digital", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")